// ================================================================================================
// ./src/styles/layout/Container.scss
// Container Wrapper
// ================================================================================================

div.container {
  width: 100%;
  max-width: $s__max-width;
  margin: 0 auto;
  z-index: 0;
}

